<div class="modal-dialog-scrollable" id="add-modal-component">
  <div class="content_modal">
    <div class="button">
      <button class="button_close">
        <i class="fas fa-times-circle" (click)="onBack()"></i>
      </button>
    </div>
  </div>

  <div class="container_modal">
    <h1>{{title}}</h1>
    <h5>Adicione ou edite uma Tarefa.</h5>
    <form [formGroup]="form" #f="ngForm" id="modalAdicionarTarefa" (ngSubmit)="salvar()">
      <div class="row">
        <div class="paint">
          <button type="button" class="btn" #paint><i class="material-icons"><i class="fas fa-fill-drip"></i></i></button>
          <input type="color" class="input-color" value="#ff0000" formControlName="cor" (change)="setColor($event)"/>
          <label for="nome" class="label" style="margin-left: 5px;">Cor</label>
        </div>

        <div class="form-group mb-3">
          <label for="nome" class="label">Nome</label>
          <input
            type="text"
            id="nome"
            class="form-control form-control-sm input"
            placeholder="e.g. fazer compras"
            formControlName="nome"
            maxlength="100"
          />
        </div>

        <div class="form-group mb-3">
          <label for="descricao" class="label">Descrição</label>
          <textarea
            type="text"
            id="descricao"
            class="form-control form-control-sm input"
            formControlName="descricao"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group col-md-6">
          <label for="data" class="label">Data</label>
              <input type="date" class="form-control" formControlName="data" id="data"/>
        </div>

        <div class="form-group col-md-6">
          <label for="hora" class="label">Hora</label>
              <input type="time" class="form-control custom" pattern="([01][0-9]|2[0-3]):[0-5][0-9]" id="hora" formControlName="hora"/>
        </div>
      </div>
    </form>

    <div class="content_modal">
      <div class="button">
        <button class="button_save" type="submit" form="modalAdicionarTarefa"> Salvar</button>
      </div>
    </div>
  </div>
</div>
