.content_modal {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.button {
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button_close {
  left: 50%;
  border: none;
  font-size: 25px;
  color: #cacaca;
  background-color: transparent;
}

.container_modal {
  padding: 0 40px;
  h1 {
    font-size: 35px;
    font-weight: 550;
    margin-bottom: 10px;
  }

  h5 {
    font-size: 16px;
    font-weight: 700;
    color: #b7b7b7;
    margin-bottom: 1.5rem;
  }

  textarea {
    resize: none;
  }

  .far {
    color: #5e5e5e;
    margin-right: 3px;
  }

  .addon {
    background-color: transparent;
    padding: 0 0 0 10px;

    .custom {
      border: none;
    }
  }

  .label {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
    color: #272727;
  }

  .button_save {
    color: white;
    padding: 4px 20px;
    border: none;
    background-color: #408BFA;
    transition: all ease 0.2s;
    border-radius: 50px;
  }
  .button_save:hover {
    background-color: #3675d5;
  }

  ::placeholder {
    color: rgb(162, 162, 162);
    opacity: 1;
  }

  input[type=radio] {
    border: 0px;
    width: 100%;
    height: 20px;
  }

  .color-container {
    display: flex;
    align-items: center;
  }

  .color-wheel {
    margin-left: 5px;
    width: 27px;
  }
}
