.title {
  font-weight: 600;
}

.checked {
  text-decoration: line-through;
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  .custom {
    margin-right: 5px;
  }

  .data {
    font-size: 13px;
    margin-bottom: 3px;
    margin-left: 2px;
  }

  .description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 150px;
  }

  .card-body {
    position: relative;
    width: 200px;
    height: 200px;
    max-width: 200px;
    margin-right: 20px;
    border-radius: 15px;
    margin-bottom: 1rem;
    transition: all ease 0.1s;
    &:hover {
      cursor: pointer;
      border-radius: 12px;
      background: #e0e0e0;
      box-shadow: -6px -6px 13px #9b9b9b, 6px 6px 13px #ffffff;

      .check_button {
        opacity: 1;
        transition-delay: 0.18s;
      }

      .trash_button {
        opacity: 1;
        transition-delay: 0.18s;
      }
    }

    border-radius: 12px;
    background: #ffffff;
    box-shadow: 5px 5px 10px #a6a6a6, -5px -5px 10px #ffffff;
  }
}

.select-edit {
  height: 180px;
}

.blend-mode {
  color: #fff;

  color: #fff;
  mix-blend-mode: difference;
}

.check_button {
  position: absolute;
  top: 10px;
  right: 45px;
  height: 25px;
  width: 25px;

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .fa-check {
    color: #00ff00;
  }

  opacity: 0;
  transition: opacity 0.2s ease-out;

  &:hover {
    background-color: #c6ffc6;
  }
}

.trash_button {
  position: absolute;
  top: 10px;
  right: 12px;
  height: 25px;
  width: 25px;


  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  .fa-trash {
    color: #ff0000;
    margin: 2px;
  }

  opacity: 0;
  transition: opacity 0.2s ease-out;

  &:hover {
    background-color: #ffd2d2;
  }
}
