
<div class="content">
  <div class="container-fluid" style="background-color: black">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="login-sc">
          <div class="card-body">
            <div class="text-center">
              <img
                src="../../../assets/one-project-logo.png"
                width="200px"
                alt="logo"
              />
            </div>
            <hr class="my-4" />
            <div class="text-center mb-2">
              <p>Bem-vinde! Registre-se para continuar.</p>
            </div>
            <form
              [formGroup]="registerForm"
              #f="ngForm"
              id="registerForm"
            >
              <div class="mb-3">
                <label for="user" class="form-label">Usuário*</label>
                <input
                  required
                  formControlName="nome"
                  type="text"
                  class="form-control"
                  id="user"
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Senha*</label>
                <input
                  required
                  formControlName="senha"
                  type="password"
                  class="form-control"
                  id="password"
                />
              </div>

              <div class="mb-1">
                <label for="passwordConfirm" class="form-label">Confirmar Senha*</label>
                <input
                  required
                  formControlName="confirmSenha"
                  type="password"
                  class="form-control"
                  id="passwordConfirm"
                />

                <span class="invalid-password" *ngIf="samePass === true">Senhas não conferem.</span>
              </div>

              <div class="d-grid gap-2 mt-4 button">
                <button
                  type="button"
                  form="loginForm"
                  class="btn btn-primary btn-block rounded-pill register"
                  (click)="signIn()"
                >
                  Registrar
                </button>
              </div>

              <div class="link">
                <p>Já é um usuário? <a class="link-danger signIn" (click)="redirect()">Faça o login!</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
