
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <a href="/projetos" class="nav_logo">
        <img src="../../../assets/one-project-icon.svg" alt="logo one-project" class="logo">
      </a>
    </div>

    <a href="/tasks/notes" class="nav_icon nav_change tt" [routerLink]="['/tasks/notes']"  data-bs-toggle="tooltip" data-bs-placement="right" title="Tela Inicial" [routerLinkActive]="['active']">
      <i class="fas fa-home"></i>
    </a>

    <a href="/tasks/notes" class="nav_icon nav_change tt" [routerLink]="['/tasks/completes']" data-bs-toggle="tooltip" data-bs-placement="right" title="Tarefas Concluidas" [routerLinkActive]="['active']">
      <i class="fas fa-check-double"></i>
    </a>
  </nav>
</div>
