.center_div {
  margin: 0 auto;
  width: 10%;
}

#login-sc {
  width: 350px;
  position: absolute;
  top: 50%;
  border: none;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 5px 30px rgba(162, 162, 162, 0.768);
}

.loader {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.signIn {
  text-decoration: none;
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.invalid-password {
  font-size: 14px;
  color: rgb(211, 66, 66);
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 219, 219);
  width: 30px;
  height: 30px;
  margin: 10px 10px 0px;
  border-radius: 100%;
}

.help:hover {
  background-color: rgb(188, 188, 188);
}
