
<div class="content">
  <div class="container-fluid" style="background-color: black">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="login-sc">
          <div class="w-100 justify-content-end d-flex">
            <button class="btn help" (click)="helpModal()"><i class="fas fa-question"></i></button>
          </div>
          <div class="card-body">
            <div class="text-center">
              <img
                src="../../../assets/one-project-logo.png"
                width="200px"
                alt="logo"
              />
            </div>
            <hr class="my-4" />
            <div class="text-center mb-2">
              <p>Faça o Login para continuar.</p>
            </div>
            <form
              [formGroup]="loginForm"
              #f="ngForm"
              (ngSubmit)="login()"
              id="loginForm"
            >
              <div class="mb-3">
                <label for="user" class="form-label">Usuário*</label>
                <input
                  required
                  formControlName="nome"
                  type="text"
                  class="form-control"
                  id="user"
                />
              </div>
              <div class="mb-1">
                <label for="password" class="form-label">Senha*</label>
                <input
                  required
                  formControlName="senha"
                  type="password"
                  class="form-control"
                  id="password"
                />
                <span class="invalid-password" *ngIf="isInvalid === true">Usuário ou senha não foram preenchidos.</span>
              </div>
              <div class="d-grid gap-2 mt-4">
                <button
                  type="submit"
                  form="loginForm"
                  class="btn btn-primary btn-block rounded-pill"
                >
                  Entrar
                </button>
              </div>

              <div class="link">
                <p>Ou <a class="link-danger signIn" (click)="redirect()">Registre-se!</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
