<div class="content_modal">
  <div class="button" (click)="redirect()">
    <button class="button_close">
      <i class="fas fa-times-circle"></i>
    </button>
  </div>
</div>
<div class="card-body custom">

  <h1 class="title">Como funciona?</h1>
  <p class="text">O OneProject foi desenvolvido para organizar de maneira simples e fácil suas tarefas. Para acessar basta criar uma conta e começar a adicionar suas tarefas do dia a dia.</p>
  <h2 class="title">Desenvolvedores</h2>
  <div class="developers">
    <p class="text_devs">Em caso de dúvidas ou feedbacks, fale conosco!</p>
    <span class="link">
      Weverton Oliveira
      <a href="https://github.com/tomoliveira1" target="_blank" class="link m-2"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/tomoliveira18/" target="_blank" class="link"><i class="fab fa-instagram"></i></a>
    </span>
    <span class="link">
      Gustavo Batista
      <a href="https://github.com/Gustavobatistaa" target="_blank" class="link m-2"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/gb__batista/" target="_blank" class="link"><i class="fab fa-instagram"></i></a>
    </span>
    <span class="version">versão: 1.0</span>
  </div>
</div>

