.notes {
  width: 25rem;
}

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 15px rgba(black, 0.090);
  transition: box-shadow 0.2s ease-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px rgba(black, 0.090);
  }

  .card-title {
    font-weight: 700;
    color: #161616;
  }

  .card-text {
    color: #3f3f3f;
  }
}

.x-button {
  position: absolute;
  top: 12px;
  right: 12px;
  height: 34px;
  width: 34px;
  border-radius: 4px;

  background-color: black;
}
